.home {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img1.png');
    background-size: cover;
    background-position: center;
    margin-top: -70px;
    /* background-repeat: no-repeat; */
}

.content {
    position: absolute;
    /* margin-top: 3%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(237, 100, 8);
    text-align: center;
    background: rgba(64, 63, 63, 0.6);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(197, 175, 110, 0.6); */

}

.btn-main {
    background: orange;
    /* color: white; */
    padding: 12px 25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
}

.btn-main:hover {
    background: darkorange;
}